* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  
}
.hero {
  height: 20vh;
  width: 100%;
  background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6),url(img/background.png));
  background-size: cover;
  background-position: center;
  
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 10px;
  padding-left:5% ;
  padding-right: 5%;
  border-right: 10px;
  
}
.logo {
  border-right: 20px;
  color: white;
  font-size: 20px;
}
span {
  color: yellow;
}
nav ul li {
  border-right: 10px;
  list-style-type: none;
  display: inline-block;
  padding: 10px 20px;
}
nav ul li a {
  
  color: white;
  text-decoration: none;
  font-weight: bold;
}
nav ul li a:hover { 
  color: yellow;
  transition: 0.3s;

}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  flex-direction: column;
  gap: 30px;
  background-image:url("img/background.png");
  background-position: center;
  background-color: gray;
  background-blend-mode: multiply;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

p {  
  text-align: left;
  width: 100%;
  padding: 10px;
  border: 1px solid rgba (255,255,255,0.25);
  border-radius: 5px;
  outline: none;
  color: #fff;
  font-size: 1em;
}
.column {
  padding: 20px;
  align-content: center;
  width: 50%;
  height: 20%;

}
.column img {
  height: 50%;
  width: 50%;
}
.container .column img {
  width: 200px;
  height: 200px;
}
.pic {
  width: 2000px;
  height: 2000px;
}

img{
  width: 2000x;
  height: 2000px;
}